run = "uvicorn main:app --host 0.0.0.0 --port $PORT"
modules = ["python-3.11"]

[deployment]
run = ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port $PORT"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 8000
externalPort = 80
